{% extends "base_generic.html" %}

{% block content %}



<body style="background-color:#b2f7e7;">
<style>
p {
  font-family: Didot;
}
label {font-family: Didot;
}
</style>
<center>
<font face = "Didot" size = "10">MixAI</font><br />
<font face = "Didot" size = "4">How to Use:</font><br />
{% for ingredient in available_ingredients %}
    <div>{{ ingredient }}</div>
{% endfor %}
<body>
</html>


<form action="" method="POST" name="alcohol">
{% csrf_token %}
<body face = "Didot">
    <p> Please enter the items you have available:</p>
    </center>
    <p>Liquors</p>
    <input type="checkbox" id="vodka" name="vodka" onclick="return ValidateSelection();"> 
    <label for="vodka">vodka</label>
    <input type="checkbox" id="peach vodka" name="peach vodka" onclick="return ValidateSelection();"> 
    <label for="peach vodka">peach vodka</label>
    <input  type="checkbox" id="gin" name="gin" onclick="return ValidateSelection();"> 
    <label for="gin">gin</label>
    <input  type="checkbox"  id="vermouth" name="vermouth" onclick="return ValidateSelection();"> 
    <label for="vermouth">vermouth</label>
    <input type="checkbox"  id="whiskey"name="whiskey" onclick="return ValidateSelection();"> 
    <label for="whiskey">whiskey</label>
    <input  type="checkbox" id="champagne" name="champagne" onclick="return ValidateSelection();"> 
    <label for="champagne">champagne</label>
    <input  type="checkbox" id="peach schnapps" name="peach schnapps" onclick="return ValidateSelection();"> 
    <label for="peach schnapps">peach schnapps</label>
    <input type="checkbox" id="tequila"name="tequila" onclick="return ValidateSelection();"> 
    <label for="tequila">tequila</label>
    <input  type="checkbox" id="spiced rum" name="spiced rum" onclick="return ValidateSelection();"> 
    <label for="spiced rum">spiced rum</label>
    <input  type="checkbox"  id="blue curacao" name="blue curacao" onclick="return ValidateSelection();"> 
    <label for="blue curacao">blue curacao</label>
    <input type="checkbox" id="light rum"name="light rum" onclick="return ValidateSelection();"> 
    <label for="light rum">light rum</label>
    <input  type="checkbox" id="triple sec" name="triple sec" onclick="return ValidateSelection();"> 
    <label for="triple sec">triple sec</label>
    <input  type="checkbox" id="absolut citron" name="absolut citron" onclick="return ValidateSelection();"> 
    <label for="absolut citron">absolut citron</label>
    <input type="checkbox" id="cointreau"name="cointreau" onclick="return ValidateSelection();"> 
    <label for="cointreau">cointreau</label>
    <input  type="checkbox" id="dark rum" name="dark rum" onclick="return ValidateSelection();"> 
    <label for="dark rum">dark rum</label>
    <input  type="checkbox" id="mezcal" name="mezcal" onclick="return ValidateSelection();"> 
    <label for="mezcal">mezcal</label>
    <input type="checkbox" id="chocolate liqueur"name="chocolate liqueur" onclick="return ValidateSelection();"> 
    <label for="chocolate liqueur">chocolate liqueur</label>
    <input  type="checkbox" id="coffee liqueur" name="coffee liqueur" onclick="return ValidateSelection();"> 
    <label for="coffee liqueur">coffee liqueur</label>
    <input  type="checkbox"  id="rose" name="rose" onclick="return ValidateSelection();"> 
    <label for="rose">rose</label>
    <input type="checkbox" id="raspberry liqueur"name="raspberry liqueur" onclick="return ValidateSelection();"> 
    <label for="raspberry liqueur">raspberry liqueur</label>
    <input  type="checkbox" id="cognac" name="cognac" onclick="return ValidateSelection();"> 
    <label for="cognac">cognac</label>
    <input  type="checkbox" id="amaretto" name="amaretto" onclick="return ValidateSelection();"> 
    <label for="amaretto">amaretto</label>
    <input type="checkbox" id="kahlua"name="kahlua" onclick="return ValidateSelection();"> 
    <label for="kahlua">kahlua</label>
        <input  type="checkbox" id="sambuca" name="sambuca" onclick="return ValidateSelection();"> 
    <label for="sambuca">sambuca</label>
    <input  type="checkbox" id="baileys irish cream" name="baileys irish cream" onclick="return ValidateSelection();"> 
    <label for="baileys irish cream">baileys irish cream</label>
    <input type="checkbox" id="scotch"name="scotch" onclick="return ValidateSelection();"> 
    <label for="scotch">scotch</label>
    <input  type="checkbox"  id="malibu rum" name="malibu rum" onclick="return ValidateSelection();"> 
    <label for="malibu rum">malibu rum</label>
    <input  type="checkbox"  id="white rum" name="white rum" onclick="return ValidateSelection();"> 
    <label for="white rum">white rum</label>
    <input type="checkbox"  id="bourbon"name="bourbon" onclick="return ValidateSelection();"> 
    <label for="bourbon">bourbon</label>
    <input  type="checkbox"  id="jack daniels" name="jack daniels" onclick="return ValidateSelection();"> 
    <label for="jack daniels">jack daniels</label>
    <input  type="checkbox"  id="campari" name="campari" onclick="return ValidateSelection();"> 
    <label for="campari">campari</label>
    <input type="checkbox"  id="sweet vermouth"name="sweet vermouth" onclick="return ValidateSelection();"> 
    <label for="sweet vermouth">sweet vermouth</label>
    <input  type="checkbox"  id="rye whiskey" name="rye whiskey" onclick="return ValidateSelection();"> 
    <label for="rye whiskey">rye whiskey</label>
    <input  type="checkbox"  id="dry vermouth" name="dry vermouth" onclick="return ValidateSelection();"> 
    <label for="dry vermouth">dry vermouth</label>
    <input type="checkbox"  id="blended scotch"name="blended scotch" onclick="return ValidateSelection();"> 
    <label for="blended scotch">blended scotch</label>
    <input  type="checkbox"  id="islay single malt scotch" name="islay single malt scotch" onclick="return ValidateSelection();"> 
    <label for="islay single malt scotch">islay single malt scotch</label>
    <input  type="checkbox"  id="cherry liqueur" name="cherry liqueur" onclick="return ValidateSelection();"> 
    <label for="cherry liqueur">cherry liqueur</label>
    <input type="checkbox"  id="passoa"name="passoa" onclick="return ValidateSelection();"> 
    <label for="passoa">passoa</label>
    <input  type="checkbox"  id="prosecco" name="prosecco" onclick="return ValidateSelection();"> 
    <label for="prosecco">prosecco</label>
    <input  type="checkbox"  id="red wine" name="red wine" onclick="return ValidateSelection();"> 
    <label for="red wine">red wine</label>
    <input type="checkbox"  id="beer"name="beer" onclick="return ValidateSelection();"> 
    <label for="beer">beer</label>
    <input  type="checkbox"  id="midori melon liqueur" name="midori melon liqueur" onclick="return ValidateSelection();"> 
    <label for="midori melon liqueur">midori melon liqueur</label>
    <input  type="checkbox"  id="cognac" name="cognac" onclick="return ValidateSelection();"> 
    <label for="cognac">cognac</label>
    <input type="checkbox"  id="jägermeister"name="jägermeister" onclick="return ValidateSelection();"> 
    <label for="jägermeister">jägermeister</label>
<p><input type="submit" value="Submit"></p>
<!-- <form action="" target="result3" method="get" id="myForm"> -->
</form>

<form action="" method="POST" name="mixers">
    {% csrf_token %}
    <p>Mixers:</p>
    <input type="checkbox"  id="orange juice"name="orange juice" onclick="return       ValidateSelection();">
    <label for="orange juice">orange juice</label>
    <input  type="checkbox"  id="coca-cola" name="coca-cola" onclick="return ValidateSelection();"> 
    <label for="coca-cola">coca-cola</label>
    <input  type="checkbox"  id="tonic water" name="tonic water" onclick="return ValidateSelection();"> 
    <label for="tonic water">tonic water</label>
    <input type="checkbox"  id="peach nectar"name="peach nectar" > 
    <label for="peach nectar">peach nectar</label>
    <input  type="checkbox"  id="pineapple juice" name="pineapple juice" onclick="return ValidateSelection();"> 
    <label for="pineapple juice">pineapple juice</label>
    <input  type="checkbox"  id="ginger ale" name="ginger ale" onclick="return ValidateSelection();"> 
    <label for="ginger ale">ginger ale</label>
    <input type="checkbox"  id="ginger beer"name="ginger beer" > 
    <label for="ginger beer">ginger bee</label>
    <input  type="checkbox"  id="apple juice" name="apple juice" onclick="return ValidateSelection();"> 
    <label for="apple juice">apple juice</label>
    <input type="checkbox"  id="grape soda"name="grape soda" > 
    <label for="grape soda">grape soda</label>
        <input  type="checkbox"  id="7-up" name="7-up" onclick="return ValidateSelection();"> 
    <label for="7-up">7-up</label>
    <input  type="checkbox"  id="root beer" name="root beer" onclick="return ValidateSelection();"> 
    <label for="root beer">root beer</label>
    <input  type="checkbox"  id="red gatorade" name="red gatorade" onclick="return ValidateSelection();"> 
    <label for="red gatorade">red gatorade</label>
    <input type="checkbox"  id="blue gatorade"name="blue gatorade" > 
    <label for="blue gatorade">blue gatorade</label>
    <input  type="checkbox"  id="yellow gatorade" name="yellow gatorade" onclick="return ValidateSelection();"> 
    <label for="yellow gatorade">yellow gatorade</label>
    <input  type="checkbox"  id="orange gatorade" name="orange gatorade" onclick="return ValidateSelection();"> 
    <label for="orange gatorade">orange gatorade</label>
    <input type="checkbox"  id="red bull"name="red bull" > 
    <label for="red bull">red bull</label>
    <input  type="checkbox"  id="monster" name="monster" onclick="return ValidateSelection();"> 
    <label for="monster">monster</label>
    <input type="checkbox"  id="rockstar"name="rockstar" > 
    <label for="rockstar">rockstar</label>
        <input  type="checkbox"  id="bang" name="bang" onclick="return ValidateSelection();"> 
    <label for="bang">bang</label>
        <input  type="checkbox"  id="passionfruit juice" name="passionfruit juice" onclick="return ValidateSelection();"> 
    <label for="passionfruit juice">passionfruit juice</label>
    <input type="checkbox"  id="pomegranate juice"name="pomegranate juice" > 
    <label for="pomegranate juice">pomegranate juice</label>
    <input  type="checkbox"  id="lemonade" name="lemonade" onclick="return ValidateSelection();"> 
    <label for="lemonade">lemonade</label>
    <input  type="checkbox"  id="cranberry juice" name="cranberry juice" onclick="return ValidateSelection();"> 
    <label for="cranberry juice">cranberry juice</label>
    <input type="checkbox"  id="grapefruit juice"name="grapefruit juice" > 
    <label for="grapefruit juice">grapefruit juice</label>
    <input  type="checkbox"  id="iced tea" name="iced tea" onclick="return ValidateSelection();"> 
    <label for="iced tea">iced tea</label>
    <input type="checkbox"  id="coffee"name="coffee" > 
    <label for="coffee">coffee</label>
        <input  type="checkbox"  id="hot chocolate" name="hot chocolate" onclick="return ValidateSelection();"> 
    <label for="hot chocolate">hot chocolate</label>
    <input  type="checkbox"  id="coconut milk" name="coconut milk" onclick="return ValidateSelection();"> 
    <label for="coconut milk">coconut milk</label>
    <input  type="checkbox"  id="tomato juice" name="tomato juice" onclick="return ValidateSelection();"> 
    <label for="tomato juice">tomato juice</label>
           <input  type="checkbox"  id="carbonated water" name="carbonated water" onclick="return ValidateSelection();"> 
    <label for="carbonated water">carbonated water</label>
    <input  type="checkbox"  id="water" name="water" onclick="return ValidateSelection();"> 
    <label for="water">water</label>
    <input  type="checkbox"  id="soda water" name="soda water" onclick="return ValidateSelection();"> 
    <label for="soda water">soda water</label>
    <p><input type="submit" value="Submit"></p>
<!-- <form action="" target="result3" method="get" id="myForm"> -->
</form>



<form action="" method="POST" name="Add-Ins">
    {% csrf_token %}
    <p>Add-Ins:</p>
    <input type="checkbox"id="sugar"name="sugar" onclick="return       ValidateSelection();">
    <label for="sugar">sugar</label>
    <input  type="checkbox"id="sugar syrup" name="sugar syrup" onclick="return ValidateSelection();"> 
    <label for="sugar syrup">sugar syrup</label>
    <input  type="checkbox"id="pineapple syrup" name="pineapple syrup" onclick="return ValidateSelection();"> 
    <label for="pineapple syrup">pineapple syrup</label>
    <input type="checkbox"id="strawberries"name="strawberries" > 
    <label for="strawberries">strawberries</label>
    <input  type="checkbox"id="honey" name="honey" onclick="return ValidateSelection();"> 
    <label for="honey">honey</label>
    <input  type="checkbox"id="apricot nectar" name="apricot nectar" onclick="return ValidateSelection();"> 
    <label for="apricot nectar">apricot nectar</label>
    <input type="checkbox"id="powdered sugar"name="powdered sugar" > 
    <label for="powdered sugar">powdered sugar</label>
    <input  type="checkbox"id="maraschino cherry" name="maraschino cherry" onclick="return ValidateSelection();"> 
    <label for="maraschino cherry">maraschino cherry</label>
    <input type="checkbox"id="honey syrup"name="honey syrup" > 
    <label for="honey syrup">honey syrup</label>
        <input  type="checkbox"id="pineapple" name="pineapple" onclick="return ValidateSelection();"> 
    <label for="pineapple">pineapple</label>
    <input  type="checkbox"id="passion fruit syrup" name="passion fruit syrup" onclick="return ValidateSelection();"> 
    <label for="passion fruit syrup">passion fruit syrup</label>
    <input type="checkbox"id="raspberry syrup"name="raspberry syrup" > 
    <label for="raspberry syrup">raspberry syrup</label>
    <input  type="checkbox"id="maple syrup" name="maple syrup" onclick="return ValidateSelection();"> 
    <label for="maple syrup">maple syrup</label>
    <input  type="checkbox"id="grenadine" name="grenadine" onclick="return ValidateSelection();"> 
    <label for="grenadine">grenadine</label>
    <input type="checkbox"id="lemon juice"name="lemon juice" > 
    <label for="lemon juice">lemon juice</label>
    <input  type="checkbox"id="lime juice" name="lime juice" onclick="return ValidateSelection();"> 
    <label for="lime juice">lime juice</label>
    <input type="checkbox"id="sour mix"name="sour mix" > 
    <label for="sour mix">sour mix</label>
    <input type="checkbox"id="lime"name="lime" > 
    <label for="lime">lime</label>
    <input  type="checkbox"id="blood orange" name="blood orange" onclick="return ValidateSelection();"> 
    <label for="blood orange">blood orange</label>
    <input type="checkbox"id="espresso"name="espresso" > 
    <label for="espresso">espresso</label>
        <input  type="checkbox"id="heavy cream" name="heavy cream" onclick="return ValidateSelection();"> 
    <label for="heavy cream">heavy cream</label>
    <input  type="checkbox"id="light cream" name="light cream" onclick="return ValidateSelection();"> 
    <label for="light cream">light cream</label>
    <input type="checkbox"id="allspice"name="allspice" > 
    <label for="allspice">allspice</label>
    <input  type="checkbox"id="rose" name="rose" onclick="return ValidateSelection();"> 
    <label for="rose">rose</label>
    <input  type="checkbox"id="sweet and sour" name="sweet and sour" onclick="return ValidateSelection();"> 
    <label for="sweet and sour">sweet and sour</label>
    <input type="checkbox"id="egg"name="egg" > 
    <label for="egg">egg</label>
    <input  type="checkbox"id="ginger syrup" name="ginger syrup" onclick="return ValidateSelection();"> 
    <label for="ginger syrup">ginger syrup</label>
    <input type="checkbox"id="salt"name="salt" > 
    <label for="salt">salt</label>
<p><input type="submit" value="Submit"></p>
<!-- <form action="" target="result3" method="get" id="myForm"> -->
</form>


{% endblock %}